*{
    font-family: 'Work Sans', sans-serif;
    margin: 0 ;
padding: 0;}
.header{
    padding: 50px 240px;
    width: 100vw;
    margin: 0 auto;
 

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
border: 1px solid red;
width: 95vw;
margin: 0 auto;}
nav > ul{
    display: flex;
    justify-content: space-evenly;
}
nav  li {

    list-style: none;
    /* margin-right: 30px; */
    font-weight: 500;
}
nav li a {
    text-decoration: none;
    color: aqua;
}
.nav-title{
    font-size: 3rem;
    font-weight: 700;
    color: khaki;
}
.banner-content{
    max-width: 800px;
text-align: center;
    margin: 0px auto;
    border: 2px solid yellow;
}
.bannar-title{
    font-size: 2rem;
 
    color: hotpink;
}
.banner-description{
    color: gray;
}
.btn-primary{
    border-radius: 8 px;
    background-color: orange;
    color: aliceblue;
    font-size: 1.25rem;
 

}
.btn-h{
    display: flex;
    justify-content: center;
    border: 2px solid firebrick;
    width: 95vw;
    margin: 0 auto;
}
#b-img{
    width: 90vw;
    margin-left: 5vw;
    /* margin: 0px 80px; */

}
main{
     width: 100vw;
    margin: 0 auto;
} 
.teams-description{
    color: var(--dark-03, #727272);
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
}
.teams-content{
    text-align: center;
    margin: 50px auto;
}
.team-container{
    display: flex;
  gap: 2vw;
  margin: 20px 13vw;
  align-items: center;
  width: fit-content;
}
.team-img-container
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 10px;
}

.teams-title{
    color: var(--dark-03, #727272);
font-family: Work Sans;
font-size: 3rem;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.o-a{
    color: var(--dark-01, #131313);
font-family: Work Sans;
font-size: 3rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.f{
    color: #FF900E;
font-family: Work Sans;
font-size: 3rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.facts-card-container{
display: flex;
        justify-content: space-around;
    margin: 20px auto;}

.facts-card-container .card{
    border-radius: 8px;
border: 1px solid #FF900E;
width: 241.831px;
height: 241.831px;



} 
.facts-title{
    text-align: center;
}
/* for mobile */
@media screen and (max-width:425px) {
   

    #b-img{
    width: 90vw;
}
.team-container{
    display: flex;
    flex-direction: column;
width: min-content;
/* grid-template-columns: 1fr; */
margin: 50px auto;
}
.team-img-container{
    display: flex;
    flex-direction: column;
   
}

}
/* for tablet */
@media screen and (max-width:768px){
    
    .team-container{
        display: flex;
        flex-direction: column-reverse;
    }
    .team-img-container{

        margin-left: -7.5vw;
    }

}