*{
    font-family: 'Work Sans', sans-serif;
    margin: 0 ;
padding: 0;}
.header{
    padding: 50px 240px;
    width: 100vw;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
border: 1px solid red;}
nav > ul{
    display: flex;
    justify-content: space-evenly;
}
nav  li {

    list-style: none;
    /* margin-right: 30px; */
    font-weight: 500;
}
nav li a {
    text-decoration: none;
    color: aqua;
}
.nav-title{
    font-size: 3rem;
    font-weight: 700;
    color: khaki;
}
.banner-content{
    max-width: 800px;
text-align: center;
    margin: 0px auto;
    border: 2px solid yellow;
}
.bannar-title{
    font-size: 4rem;
    font-weight: 700;
    color: hotpink;
}
.banner-description{
    color: gray;
}
.btn-primary{
    border-radius: 8 px;
    background-color: orange;
    color: aliceblue;
    font-size: 1.25rem;

}
.btn-h{
    display: flex;
    justify-content: center;
    border: 2px solid firebrick;
}
#b-img{
    width: 100vw;
}
main{
    max-width: 100vw;
    margin: 0 auto;
}
.teams-description{
    color: var(--dark-03, #727272);
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
}
.teams-content{
    text-align: center;
}
.team-container{
    display: flex;
  gap: 2vw;
  margin: 20px 13vw;
  align-items: center;
}
.team-img-container
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 10px;
}

.teams-title{
    color: var(--dark-03, #727272);
font-family: Work Sans;
font-size: 45px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.o-a{
    color: var(--dark-01, #131313);
font-family: Work Sans;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.f{
    color: #FF900E;
font-family: Work Sans;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

@media screen and (max-width:425px) {
   

    #b-img{
    width: 100vw;
}
}